.gif-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}
.gif {
  max-width: 150px;
  margin: 0.3rem;
}
i {
  font-size: 2.5rem;
}
