.App {
  text-align: center;
}
.main-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 a {
  font-size: 2.5rem;
  text-transform: uppercase;
}
h2,
h3 {
  text-transform: capitalize;
}
button,
input {
  font-size: 1.5rem;
  padding: 0.3rem;
}
a {
  color: whitesmoke;
  font-size: 1.5rem;
}
.menu-link {
  text-decoration: none;
}
.menu-li {
  list-style: none;
  text-align: left;
}
